@{
    ViewData["Title"] = "Главная страница";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать в Видеопрокат!</h1>
        <p class="lead">Это главная страница вашего видеопроката. Здесь будет красивая презентация.</p>
        <hr class="my-4">
        <p>Используйте навигационное меню для перехода к разделам сайта.</p>
        <a class="btn btn-primary btn-lg" href="/Catalog" role="button">Перейти в каталог</a>
        <a class="btn btn-secondary btn-lg" href="/api-docs" role="button">API Документация</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <h3>Быстрые ссылки:</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/Catalog">📼 Каталог фильмов</a>
                </li>
                <li class="list-group-item">
                    <a href="/Cart">🛒 Корзина</a>
                </li>
                <li class="list-group-item">
                    <a href="/Account/Login">🔐 Вход в систему</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Статус системы:</h3>
            <div class="alert alert-success">
                <h4 class="alert-heading">Система работает нормально</h4>
                <p>База данных подключена и заполнена тестовыми данными.</p>
                <hr>
                <p class="mb-0">
                    Вы можете начать работу с каталогом фильмов или посмотреть API документацию.
                </p>
            </div>
        </div>
    </div>
</div>